<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <meta name="viewport" content="width=\, initial-scale=1.0">
  <title>Document</title>
</head>

<div style=" margin-left: 40% ;margin-right : 40%; margin-top:10%">
<h1>Welcome!</h1>
<p>Create an account or login</p>
<a href="/users/register" class="btn btn-warning" >Register</a>
<a href="/users/login"  class="btn btn-success"> Login</a>
</div>
</html>
